<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagTorrent</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="hidden">
    <header class="card">
        <button class="options hide-on-darwin" onclick="showAppOptionsMenu(this)" title="Options">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m11.998 2c5.517 0 9.997 4.48 9.997 9.998 0 5.517-4.48 9.997-9.997 9.997-5.518 0-9.998-4.48-9.998-9.997 0-5.518 4.48-9.998 9.998-9.998zm0 1.5c-4.69 0-8.498 3.808-8.498 8.498s3.808 8.497 8.498 8.497 8.497-3.807 8.497-8.497-3.807-8.498-8.497-8.498zm2.502 8.495c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25zm-3.75 0c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25zm-3.75 0c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25z"/></svg>
        </button>
        <button class="options hide-on-darwin hide-on-linux" onclick="openDownloadsFolder()" title="Open Downloads folder">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m6.864 3.424c.502-.301 1.136.063 1.136.642 0 .264-.138.509-.365.644-2.476 1.486-4.135 4.197-4.135 7.292 0 4.691 3.808 8.498 8.498 8.498s8.497-3.807 8.497-8.498c0-3.093-1.656-5.803-4.131-7.289-.225-.136-.364-.38-.364-.644 0-.582.635-.943 1.137-.642 2.91 1.748 4.858 4.936 4.858 8.575 0 5.519-4.479 9.998-9.997 9.998s-9.998-4.479-9.998-9.998c0-3.641 1.951-6.83 4.864-8.578zm.831 8.582s2.025 2.021 3.779 3.774c.147.147.339.22.53.22.192 0 .384-.073.531-.22 1.753-1.752 3.779-3.775 3.779-3.775.145-.145.217-.336.217-.526 0-.192-.074-.384-.221-.531-.292-.293-.766-.294-1.056-.004l-2.5 2.499v-10.693c0-.414-.336-.75-.75-.75s-.75.336-.75.75v10.693l-2.498-2.498c-.289-.289-.762-.286-1.054.006-.147.147-.221.339-.222.531 0 .19.071.38.215.524z"></svg>
        </button>
        <span class="hide-on-linux" style="height: 32px; width: 32px;"></span>
        <span class="spacer"></span>
        <input type="text" placeholder="Search or Magnet URL (magnet:?xt=urn:btih:).">
        <span class="spacer"></span>
        <button class="minimize hide-on-darwin hide-on-linux" onclick="minimize()" title="Minimize">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m21 11.75c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75z"/></svg>
        </button>
        <button class="maximize hide-on-darwin hide-on-linux" onclick="maximize()" title="Maximize">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19.25,5.5c0,-0.414 -0.336,-0.75 -0.75,-0.75l-13,0c-0.414,0 -0.75,0.336 -0.75,0.75l0,13c0,0.414 0.336,0.75 0.75,0.75l13,0c0.414,0 0.75,-0.336 0.75,-0.75l0,-13Zm-1.5,0.75l0,11.5c-0,0 -11.5,0 -11.5,0c-0,-0 -0,-11.5 -0,-11.5l11.5,0Z"/></svg>
        </button>
        <button class="unmaximize hide-on-darwin hide-on-linux hidden" onclick="unmaximize()" title="Restore">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.25,8.5c0,-0.414 -0.336,-0.75 -0.75,-0.75l-10,0c-0.414,0 -0.75,0.336 -0.75,0.75l0,10c0,0.414 0.336,0.75 0.75,0.75l10,0c0.414,0 0.75,-0.336 0.75,-0.75l0,-10Zm-1.5,0.75l-0,8.5c0,0 -8.5,0 -8.5,0c0,0 -0,-8.5 -0,-8.5l8.5,-0Z"/><path d="M8.5,6.25l9.25,-0c0,-0 0,6.701 0,8.407c-0,0.511 -0,0.843 -0,0.843c0,0.414 0.336,0.75 0.75,0.75c0.414,-0 0.75,-0.336 0.75,-0.75l-0,-10c0,-0.414 -0.336,-0.75 -0.75,-0.75l-10,-0c-0.414,0 -0.75,0.336 -0.75,0.75c0,0.414 0.336,0.75 0.75,0.75Z"/></svg>
        </button>
        <button class="close hide-on-darwin hide-on-linux" onclick="closeWindow()" title="Close">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
        </button>
        <button class="options hide-on-win32" onclick="openDownloadsFolder()" title="Open Downloads folder">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m6.864 3.424c.502-.301 1.136.063 1.136.642 0 .264-.138.509-.365.644-2.476 1.486-4.135 4.197-4.135 7.292 0 4.691 3.808 8.498 8.498 8.498s8.497-3.807 8.497-8.498c0-3.093-1.656-5.803-4.131-7.289-.225-.136-.364-.38-.364-.644 0-.582.635-.943 1.137-.642 2.91 1.748 4.858 4.936 4.858 8.575 0 5.519-4.479 9.998-9.997 9.998s-9.998-4.479-9.998-9.998c0-3.641 1.951-6.83 4.864-8.578zm.831 8.582s2.025 2.021 3.779 3.774c.147.147.339.22.53.22.192 0 .384-.073.531-.22 1.753-1.752 3.779-3.775 3.779-3.775.145-.145.217-.336.217-.526 0-.192-.074-.384-.221-.531-.292-.293-.766-.294-1.056-.004l-2.5 2.499v-10.693c0-.414-.336-.75-.75-.75s-.75.336-.75.75v10.693l-2.498-2.498c-.289-.289-.762-.286-1.054.006-.147.147-.221.339-.222.531 0 .19.071.38.215.524z"></svg>
        </button>
    </header>
    <main>
        <div id="message">Loading data from previous session...</div>
        <ul></ul>
    </main>
    <script>
        const oneGB = 1024*1024*1024
        const oneMB = 1024*1024
        const oneKB = 1024
        const oneHour = 3600
        const oneMinute = 60
        const { ipcRenderer } = require('electron')
        const searchBox = document.querySelector('input')
        const message = document.querySelector('#message')
        const ul = document.querySelector('ul')

        function getSize(size) {
            if (size === undefined) {
                return '∞B'
            } else if (size > oneGB) {
                let gb = String(size / oneGB)
                let dotIndex = gb.indexOf('.')
                return gb.substring(0, dotIndex + 3) + 'GB'
            } else if (size > oneMB) {
                let mb = String(size / oneMB)
                let dotIndex = mb.indexOf('.')
                return mb.substring(0, dotIndex + 3) + 'MB'
            } else if (size > oneKB) {
                let kb = String(size / oneKB)
                let dotIndex = kb.indexOf('.')
                return kb.substring(0, dotIndex + 3) + 'KB'
            } else if (String(size).length > 3){
                return String(size).substring(0, 3) + 'B'
            } else {
                return size + 'B'
            }
        }

        function getTime(seconds) {
            try {
                return new Date(seconds).toISOString().slice(11, 19)
            } catch (error) {
                return '∞'
            }
        }

        function search(text) {
            document.querySelectorAll('li').forEach((li) => {
                if (li.querySelector('.torrent-name').textContent.toLowerCase().indexOf(text.toLowerCase()) > -1) {
                    li.classList.remove('hidden')
                } else {
                    li.classList.add('hidden')
                }
            })
        }

        /*
        document.addEventListener('DOMContentLoaded', (event) => {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.body.classList.add('dark')
            } else {
                document.body.classList.remove('dark')
            }
        })
        */

        function showAppOptionsMenu(button) {
            let rect = button.getBoundingClientRect()
            ipcRenderer.send('show-app-options', { x: rect.x, y: rect.y })
        }

        function openDownloadsFolder() {
            ipcRenderer.send('open-downloads-folder')
        }

        function minimize() {
            ipcRenderer.send('minimize:main-window')
        }

        function maximize() {
            ipcRenderer.send('maximize:main-window')
            document.querySelector('.maximize').classList.add('hidden')
            document.querySelector('.unmaximize').classList.remove('hidden')
        }

        function unmaximize() {
            ipcRenderer.send('unmaximize:main-window')
            document.querySelector('.maximize').classList.remove('hidden')
            document.querySelector('.unmaximize').classList.add('hidden')
        }

        function closeWindow() {
            ipcRenderer.send('close:main-window')
        }

        /*
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
            if (event.matches) {
                document.body.classList.add('dark')
            } else {
                document.body.classList.remove('dark')
            }
        })
        */

        document.addEventListener('drop', (event) => {
            event.preventDefault()
            event.stopPropagation()
            let files = []
            for (const f of event.dataTransfer.files) {
                if (f.name.endsWith('.torrent')) files.push(f.path)
            }
            ipcRenderer.send('file-dropped', files)
        })
        
        document.addEventListener('dragover', (e) => {
            e.preventDefault()
            e.stopPropagation()
        })

        searchBox.onkeyup = (e) => {
            let text = e.target.value
            if (text.startsWith('magnet:?xt=urn:btih:')) {
                ipcRenderer.send('add-torrent', text)
                e.target.value = ''
            } else {
                search(text)
            }
        }

        ipcRenderer.on('platform', (e, platform, dark) => {
            searchBox.placeholder += `Use ${platform === 'darwin' ? 'Cmd' : 'Ctrl'}+V to paste.`
            document.body.classList[dark ? 'add' : 'remove']('dark')
            document.body.classList.add(platform)
            document.body.classList.remove('hidden')
        })

        ipcRenderer.on('options-menu-closed', (e) => {
            document.querySelectorAll('li.selected').forEach((li) => li.classList.remove('selected'))
        })

        ipcRenderer.on('delete-all-torrents', (e) => {
            ul.innerHTML = ''
        })

        ipcRenderer.on('remove-torrent', (e, infoHash) => {
            let li = document.querySelector('#info-hash-' + infoHash)
            if (li) ul.removeChild(li)
        })

        ipcRenderer.on('torrent-done', (e, infoHash, length) => {
            let li = document.querySelector('#info-hash-' + infoHash)
            let meta = li.querySelector('span.torrent-meta')
            li.classList.add('downloaded')
            li.classList.remove('downloading')
            li.classList.remove('error')
            li.classList.remove('stopped')
            meta.innerHTML = `✓ Download complete (${getSize(length)}).`
        })

        ipcRenderer.on('torrent-error', (e, infoHash, error) => {
            let li = document.querySelector('#info-hash-' + infoHash)
            let meta = li.querySelector('span.torrent-meta')
            li.classList.remove('downloaded')
            li.classList.remove('downloading')
            li.classList.add('error')
            li.classList.remove('stopped')
            meta.innerHTML = `‼ Error: ${error}.`
        })

        ipcRenderer.on('adding-torrent', (e) => {
            message.classList.remove('hidden')
            message.innerHTML = 'Adding torrent...'
        })

        ipcRenderer.on('update-torrents', (e, torrents) => {
            if (torrents.length === 0) {
                message.classList.remove('hidden')
                message.innerHTML = `There are no active transfers.<br>
                                    To add a torrent, paste a magnet link to the<br>
                                    search box above, or drag a .torrent file into this window.`
            } else {
                message.classList.add('hidden')
            }
            torrents.forEach((torrent) => {
                let li = document.querySelector('#info-hash-' + torrent.infoHash)
                if (li === undefined || li === null) {
                    li = document.createElement('li')
                    li.className = 'card torrent downloading'
                    li.id = 'info-hash-' + torrent.infoHash
                    li.setAttribute('done', torrent.done)
                    li.innerHTML =
                        `
                        <div class="torrent-info">
                            <span class="torrent-name">${torrent.name}</span>
                            <br>
                            <span class="torrent-meta">Getting info...</span>
                        </div>
                        `
                    li.oncontextmenu = (e) => {
                        li.classList.add('selected')
                        ipcRenderer.send('show-torrent-options', torrent, { x: e.clientX, y: e.clientY })
                    }
                    li.ondblclick = (e) => {
                        ipcRenderer.send('open-torrent', torrent)
                    }
                    ul.prepend(li)
                }
                let meta = li.querySelector('span.torrent-meta')
                if (torrent.error !== undefined && torrent.paused) {
                    console.log('abc')
                    li.classList.remove('downloaded')
                    li.classList.remove('downloading')
                    li.classList.add('error')
                    li.classList.remove('stopped')
                    meta.innerHTML = `‼ Error: ${torrent.error}.`
                } else if (torrent.done) {
                    li.classList.add('downloaded')
                    li.classList.remove('downloading')
                    li.classList.remove('error')
                    li.classList.remove('stopped')
                    meta.innerHTML = `✓ Download complete (${getSize(torrent.length)})` + ` ↑${getSize(torrent.uploadSpeed)}/s.`
                } else if (torrent.paused) {
                    li.classList.remove('downloaded')
                    li.classList.remove('downloading')
                    li.classList.remove('error')
                    li.classList.add('stopped')
                    meta.innerHTML = `|| ${Math.round(torrent.progress * 100)}% of ${getSize(torrent.length)}, ${getTime(torrent.timeRemaining)} second${Math.round(torrent.timeRemaining/1000) < 2 ? '' : 's'} left. ↓ ${getSize(torrent.downloadSpeed)}/s ↑${getSize(torrent.uploadSpeed)}/s.`
                } else if (torrent.ready) {
                    li.classList.remove('downloaded')
                    li.classList.add('downloading')
                    li.classList.remove('error')
                    li.classList.remove('stopped')
                    meta.innerHTML = `↕ ${Math.round(torrent.progress * 100)}% of ${getSize(torrent.length)}, ${getTime(torrent.timeRemaining)} second${Math.round(torrent.timeRemaining/1000) < 2 ? '' : 's'} left. ↓ ${getSize(torrent.downloadSpeed)}/s ↑${getSize(torrent.uploadSpeed)}/s.`
                } else {
                    li.classList.remove('downloaded')
                    li.classList.add('downloading')
                    li.classList.remove('error')
                    li.classList.remove('stopped')
                    meta.innerHTML = `∞ Getting info...`
                }
            })
        })
    </script>
</body>
</html>